@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #e5e5e5;
}

.image_geometry_1 {
  position: absolute;
  width: 111px;
  height: 74px;
  left: 0;
  top: 0;
}

.ic_menu {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
  background: #e5e5e5;
}

.profileName {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 104px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.border {
  position: absolute;
  width: 178px;
  height: 44px;
  left: 20px;
  top: 1032px;
  border: 1px solid #fff;
}

.intro {
  position: absolute;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 250px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  text-align: left;
}

.startbtn {
  box-sizing: border-box;
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 410px;
  color: aliceblue;
  background: #1a2236;
}

.startbtn:hover {
  background-color: aliceblue;
  color: #1a2236;
}

.geometry {
  position: absolute;
  width: 320px;
  height: 160px;
  left: 0;
  top: 472px;
}

.works {
  display: grid;
  grid-template-columns: auto;
}

.pro {
  position: absolute;
  width: 181px;
  height: 50px;
  left: 16px;
  top: 660px;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.project {
  display: flex;
  flex-direction: column;
}

.pr-img1 {
  width: 320px;
  margin-left: 0;
  margin-top: 780px;
}

.pr-img {
  width: 320px;
  margin-left: 0;
  margin-top: 0;
}

.project-ins {
  width: 320px;
  margin-left: 0;
  margin-top: 0;
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5px);
}

.project-ins h3 {
  width: 264px;
  height: 16px;
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
}

.project-ins ul {
  display: flex;
  justify-content: start;
  padding: 0;
  margin-left: 16px;
  gap: 16px;
  margin-top: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 10.3334px;
  font-weight: 300;
}

.project-ins li {
  background-color: #98dede;
  list-style: none;
  padding: 6px 10px;
  text-align: center;
}

.project-ins button {
  display: flex;
  align-items: center;
  width: 178px;
  height: 44px;
  margin-top: 20px;
  margin-left: 17px;
  margin-bottom: 20px;
  background-color: #1a2236;
  border: 1px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  gap: 15px;
}

a {
  text-decoration: none;
}

.about {
  display: flex;
  flex-direction: column;
}

.about h2 {
  width: 134px;
  height: 50px;
  margin-top: 56px;
  margin-left: 16px;
  margin-bottom: 0;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

.about p {
  width: 288px;
  height: 126px;
  margin-top: 20px;
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a2236;
  text-align: left;
}

.about button {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 288px;
  height: 50px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #fff;
  align-items: center;
  gap: 15px;
}

.languages {
  position: relative;
  width: 289px;
  margin-left: 16px;
  margin-top: 40px;
  background-color: #1c528a;
}

.set-h {
  width: 116px;
  height: 30px;
  padding-top: 50px;
  padding-left: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  color: #fff;
  font-size: 30px;
}

.set-ul {
  width: 178px;
  height: 135px;
  margin-top: 21px;
  margin-bottom: 53px;
  padding-left: 66px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.0525em;
  color: #fff;
  text-align: left;
}

.set-img {
  position: absolute;
  width: 102px;
  height: 102px;
  bottom: 0;
  right: 0;
}

.frameworks {
  position: relative;
  width: 289px;
  margin-left: 16px;
  margin-top: 16px;
  background-color: #e2505c;
}

.skills {
  position: relative;
  width: 289px;
  margin-left: 16px;
  margin-top: 15px;
  background-color: #febf52;
}

/* button:hover {
  background: #e5e5e5;
  cursor: pointer;
  color: #1a2236;
} */

.name{
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DFDFE0;
  border-radius: 4px;
}

.contact {
  background: #f9f9fa;
}

.contact__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  padding: 20px;
  clear: both;
}

.contact__form {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
}

.name{
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #DFDFE0;
  border-radius: 4px;
}

.email {
  height: 50px;
  background: #FFFFFF;
border: 1px solid #1A2236;
border-radius: 4px;
}

.message {
  height: 20vw;
  background: #FFFFFF;
  border: 1px solid #DFDFE0;
  border-radius: 4px;
}

::placeholder{
  position: absolute;
}

.contact__button {
  height: 70px;
  left: 16px;
  top: 3090px;
  background: #1a2236;
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.contact__button:hover{
  background-color:#fff;
  color: #1a2236 ;
}

.footer {
  background: #1a2236;
  display: flex;
  flex-direction: column;
}

.footer__button {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  border: 0;
  width: 100%;
  margin-left: 20px;
}

.social{
  width:6vw;

  
}

.socials {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  align-items: baseline;
  margin-bottom: 80px;
}

.footer__button__text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 5vw;
  color: #92dcdc;
}

.footer__button__image {
  margin-left: 3vw;
  align-items: center;
  height: 100%;
  text-align: center;
  align-items: center;
  align-self: center;
  height: 5vw;
}


.corner__geometry {
  height: 111px;
  width: 74px;
  margin: 0;
  float: left;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 550px;
}

.h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  line-height: 100%;
  color: #1a2236;
  padding-left: 20px;
  clear: both;
}