@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (min-width: 768px) {
  body {
    background-color: #fff;
  }

  .dotImg2 {
    width: 9vw;
    margin-left: 12vw;
    margin-top: 4vw;
  }

  .menu {
    /* position: fixed; */
    width: 100%;
    margin-top: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .links {
    text-decoration: none;
    list-style: none;
    align-self: center;
    padding: 2vw;
    color: black;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
  }

  .header {
    display: none;
  }

  .headline {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: -7vw;
  }

  .mb-headline {
    width: 43%;
    margin-left: 10vw;
    margin-bottom: 13vw;
  }

  .geometry_big {
    width: 45vw;
    height: 71vw;
  }

  .startbtn {
    top: -9vw;
    box-sizing: border-box;
    width: 20vw;
    height: 5vw;
    left: 16px;
    color: aliceblue;
    background: #1a2236;
    margin-top: 1vw;
    position: relative;
  }

  .startbtn:hover {
    background-color: aliceblue;
    color: #1a2236;
  }

  .profileName {
    margin-top: 13vw;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 8vw;
    line-height: 100%;
    color: #1a2236;
  }

  .intro {
    width: 288px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    text-align: left;
  }

  .pro {
    grid-column: 2/4;
    margin-top: 9vw;
    transform: rotate(-90deg);
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: 100%;
    color: #1a2236;
  }

  .project-ins {
    display: none;
  }

  .works {
    display: grid;
    height: 88vw;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: repeat(10, auto);
  }

  .geometry {
    display: none;
  }

  .pr-dsk1 {
    grid-column: 5/10;
    grid-row: 1/3;
  }

  .pr-dsk2 {
    grid-row: 3/6;
    grid-column: 1/5;
  }

  .pr-dsk {
    grid-row: 3/6;
    grid-column: 5/7;
    width: 20vw;
    width: 24vw;
  }

  .pr-dsk3 {
    grid-row: 3/5;
    grid-column: 7/10;
  }

  .pr-dsk4 {
    grid-column: 1/6;
    grid-row: 5/8;
  }

  .pr-dsk5 {
    grid-column: 6/9;
    grid-row: 9/11;
  }

  .pr-dsk6 {
    grid-column: 7/10;
    grid-row: 5/7;
  }

  .dots {
    width: 50%;
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .pr-img1 {
    width: 62vw;
  }

  .dotImg {
    width: 9vw;
  }

  .imgGeo2 {
    width: 34vw;
    margin-left: 8vw;
    grid-column: 6/10;
    grid-row: 7/9;
  }

  .big-img {
    width: 52vw;
  }

  .abouthead {
    margin-left: 3vw;
  }

  .abouthead h2 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 134px;
    height: 50px;
    margin-top: 56px;
    margin-left: 16px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }

  .abouthead p {
    width: 288px;
    height: 126px;
    margin-top: 20px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: #1a2236;
    text-align: left;
  }

  .abouthead button {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 5vw;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    background-color: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    align-items: center;
    gap: 15px;
    top: -2vw;
  }

  .skills {
    height: 22vw;
    position: relative;
    width: 18.6vw;
    margin-left: 16px;

    /* margin-top: 15px; */
    background-color: #febf52;
    grid-column: 1/2;
    grid-row: 2/3;
    top: -2vw;
  }

  .languages {
    height: 22.2vw;
    position: relative;
    width: 19vw;
    margin-left: 16px;
    margin-top: 39px;
    background-color: #1c528a;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .frameworks {
    margin-left: 1.3vw;
    position: relative;
    margin-top: 4.4vw;
    background-color: rgb(226, 80, 92);
    grid-area: 1 / 2 / 2 / 3;
    height: 22.2vw;

    /* left: 1vw; */
  }

  .set-ul {
    /* width: 178px; */

    /* height: 135px; */

    /* padding-left: 66px; */

    /* margin-right: 6vw; */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4vw;
    letter-spacing: -0.0525em;
    color: #fff;
    text-align: left;
  }

  .set-h {
    padding-left: 27px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: #fff;
    font-size: 1.7vw;
  }

  .set-img {
    position: absolute;
    width: 6vw;

    /* height: 102px; */
    bottom: 0;
    right: 0;
  }

  .about {
    display: grid;
    margin-top: 44vw;
    margin-left: 12vw;
    margin-right: 7vw;
    grid-template-columns: 25% 25% 60%;
    grid-template-rows: 50% 50%;
  }

  .dotImg1 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 14vw;
    justify-self: right;
    margin-top: 5vw;
  }

  .contact__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    padding: 20px;
    clear: both;
  }

  .contact__form {
    display: grid;
    grid-gap: 10px;
  }

  .message {
    margin-top: -3vw;
    height: 20vw;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    margin-left: 10px;
    width: 35vw;
  }

  .name {
    height: 4vw;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 16vw;
    margin-left: 10px;
  }

  .email {
    left: 19vw;
    position: relative;
    height: 4vw;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 16vw;
    margin-left: 10px;
    top: -5.8vw;
  }

  ::placeholder {
    position: absolute;
  }

  .contact__button {
    height: 50px;
    left: 16px;
    top: 3090px;
    background: #1a2236;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    margin-top: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    width: 260px;
  }

  .contact__button:hover {
    background-color: #fff;
    color: #1a2236;
  }

  .footer {
    background: #1a2236;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
  }

  .footer__button {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    border: 0;
    width: 100%;
    margin-left: 20px;
  }

  .social {
    width: 6vw;
    width: 30px;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 2vw;
    margin-left: 20px;
    margin-right: 20px;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .socials li {
    list-style: none;
  }

  .footer__button__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-right: 3px;
    line-height: 5px;
    color: #92dcdc;
  }

  .footer__button__image {
    margin-left: 3vw;
    text-align: center;
    align-items: center;
    align-self: center;
    height: 30px;
    margin-top: -6vw;
  }

  .corner__geometry {
    height: 111px;
    width: 74px;
    margin: 0;
    float: left;
  }

  .h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    color: #1a2236;
    padding-left: 20px;
    clear: both;
  }

  .corner_geometry {
    display: none;
  }

  .contact {
    display: flex;
    column-gap: 14vw;
  }

  .image-geometry_7 {
    width: 25vw;

    /* align-self: baseline; */
    margin-top: 55vw;
  }

  .image-geometry_6 {
    width: 20vw;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background: #e5e5e5;
  }

  .headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .menu {
    display: none;
  }

  .dotImg2 {
    display: none;
  }

  .dotImg {
    display: none;
  }

  .dotImg1 {
    display: none;
  }

  .image-geometry_6 {
    display: none;
  }

  .image-geometry_7 {
    display: none;
  }

  .socials li {
    list-style: none;
  }

  .image_geometry_1 {
    position: absolute;
    width: 111px;
    height: 74px;
    left: 0;
    top: 0;
  }

  .ic_menu {
    position: absolute;
    width: 20px;
    height: 14px;
    left: 284px;
    top: 19px;
    background: #e5e5e5;
  }

  .header {
    display: block;
  }

  .profileName {
    position: absolute;
    width: 220px;
    height: 100px;
    left: 16px;
    top: 104px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .border {
    position: absolute;
    width: 178px;
    height: 44px;
    left: 20px;
    top: 1032px;
    border: 1px solid #fff;
  }

  .intro {
    position: absolute;
    width: 288px;
    height: 126px;
    left: 16px;
    top: 250px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    text-align: left;
  }

  .startbtn {
    box-sizing: border-box;
    position: absolute;
    width: 288px;
    height: 50px;
    left: 16px;
    top: 410px;
    color: aliceblue;
    background: #1a2236;
  }

  .startbtn:hover {
    background-color: aliceblue;
    color: #1a2236;
  }

  .geometry {
    position: absolute;
    width: 320px;
    height: 160px;
    left: 0;
    top: 472px;
  }

  .geometry_big {
    display: none;
  }

  .pro {
    position: absolute;
    width: 181px;
    height: 50px;
    left: 16px;
    top: 660px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 100%;
    color: #1a2236;
  }

  .project {
    display: flex;
    flex-direction: column;
  }

  .pr-img1 {
    width: 320px;
    margin-left: 0;
    margin-top: 780px;
  }

  .pr-img {
    width: 320px;
    margin-left: 0;
    margin-top: 0;
  }

  .project-ins {
    width: 320px;
    margin-left: 0;
    margin-top: 0;
    background: #1a2236;
    border: 0.333333px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(0.5px);
  }

  .project-ins h3 {
    width: 264px;
    height: 16px;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 80%;
    color: #fff;
  }

  .project-ins ul {
    display: flex;
    justify-content: start;
    padding: 0;
    margin-left: 16px;
    gap: 16px;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 10.3334px;
    font-weight: 300;
  }

  .project-ins li {
    background-color: #98dede;
    list-style: none;
    padding: 6px 10px;
    text-align: center;
  }

  .project-ins button {
    display: flex;
    align-items: center;
    width: 178px;
    height: 44px;
    margin-top: 20px;
    margin-left: 17px;
    margin-bottom: 20px;
    background-color: #1a2236;
    border: 1px solid #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    gap: 15px;
  }

  a {
    text-decoration: none;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .about h2 {
    width: 134px;
    height: 50px;
    margin-top: 56px;
    margin-left: 16px;
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
  }

  .about p {
    width: 288px;
    height: 126px;
    margin-top: 20px;
    margin-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1a2236;
    text-align: left;
  }

  .about button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 288px;
    height: 50px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 32px;
    background-color: #1a2236;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #fff;
    align-items: center;
    gap: 15px;
  }

  .languages {
    position: relative;
    width: 289px;
    margin-left: 16px;
    margin-top: 40px;
    background-color: #1c528a;
  }

  .set-h {
    width: 116px;
    height: 30px;
    padding-top: 50px;
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    color: #fff;
    font-size: 30px;
  }

  .set-ul {
    width: 178px;
    height: 135px;
    margin-top: 21px;
    margin-bottom: 53px;
    padding-left: 66px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.0525em;
    color: #fff;
    text-align: left;
  }

  .set-img {
    position: absolute;
    width: 102px;
    height: 102px;
    bottom: 0;
    right: 0;
  }

  .frameworks {
    position: relative;
    width: 289px;
    margin-left: 16px;
    margin-top: 16px;
    background-color: #e2505c;
  }

  .skills {
    position: relative;
    width: 289px;
    margin-left: 16px;
    margin-top: 15px;
    background-color: #febf52;
  }

  .contact {
    background: #f9f9fa;
    width: 287px;
    margin-left: 16px;
  }

  .contact__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
    padding: 20px;
    clear: both;
  }

  .contact__form {
    display: grid;
    grid-gap: 10px;
  }

  .name {
    height: 50px;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    width: 250px;
    margin-left: 10px;
  }

  .email {
    height: 50px;
    background: #fff;
    border: 1px solid #1a2236;
    border-radius: 4px;
    width: 250px;
    margin-left: 10px;
  }

  .message {
    height: 20vw;
    background: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 4px;
    margin-left: 10px;
    width: 250px;
  }

  ::placeholder {
    position: absolute;
  }

  .contact__button {
    height: 50px;
    left: 16px;
    top: 3090px;
    background: #1a2236;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    margin-top: 20px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    width: 260px;
  }

  .contact__button:hover {
    background-color: #fff;
    color: #1a2236;
  }

  .footer {
    background: #1a2236;
    display: flex;
    flex-direction: column;
    width: 287px;
    margin-left: 16px;
  }

  .footer__button {
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    border: 0;
    width: 100%;
    margin-left: 20px;
  }

  .social {
    width: 6vw;
    width: 30px;
  }

  .socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
    align-items: baseline;
    margin-bottom: 40px;
  }

  .footer__button__text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    margin-right: 3px;
    line-height: 5px;
    color: #92dcdc;
  }

  .footer__button__image {
    margin-left: 3vw;
    text-align: center;
    align-items: center;
    align-self: center;
    height: 30px;
  }

  .corner__geometry {
    height: 111px;
    width: 74px;
    margin: 0;
    float: left;
  }

  .h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 100%;
    color: #1a2236;
    padding-left: 20px;
    clear: both;
  }

  .pr-dsk {
    display: none;
  }

  .imgGeo2 {
    display: none;
  }
}
